.hawsearch {
  border: 1px solid #002B66;
  position: relative;
  height: 2.5em;
  padding: 0.1em;
  padding-right: 4.3em;
}

.hawsearch input {
  border: none;
  background: none;
  font-size: 1.7em;
  color: #002B66;
}

.hawsearch .query {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: transparent;
  display: block;
  background: none;
  outline: none;
  width: 100%;
  height: auto;
}

.hawsearch .clear {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 1.5em;
  height: 1.5em;
  margin: 0.1em;
  margin-right: 2.7em;
}

.hawsearch .search {
  position: absolute;
  top: 0;
  right: 0;
  width: 2em;
  height: 1.4em;
  border-radius: 0.2em;
  margin: 0.1em;
  background-image: url(https://duckduckgo.com/assets/logo_header.v107.lg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hawsearch:hover .clear {
  display: block;
}

.hawsearch:hover .search {
  background-color: #66ad57; /* DuckDuckGo green */
}
